table {
  border-collapse: separate;
  border-spacing: 0.2em;
}

th,td {
  padding: 0.2em 0.5em;
  border-radius: 0.1em;
}

thead th {
  background-color: #ffebe6;
  color: #c32e04;
}

td {
  font-style:italic;
  text-align: right;
  box-shadow: inset 1px 3px 5px -3px rgba(0,0,0,0.5);
}

td:empty{
  box-shadow: none;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-button-row button,

.example-button-row a {
  margin-right: 8px;
}
.button-group {
  display: flex;
}

.button-group button {
  font-size: 4rem;
  border: 0;
  float: left;
  padding: 20px;
  background: #eee;
}

